
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        div.a{
            background-color:white;
        }
        div.b{
            background-color:lightblue;
        }
        div.c{
            background-color:white;
            border-width:2px;
            margin-bottom:10px;
            border-spacing:2px;
        }
        
       
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="~/MainPage/MainPage">TWİTTER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/MainPage/UserPage">Profil <span class="sr-only">Profil</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/MainPage/Notifications">Bildirimler</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link disabled" href="~/MainPage/DirectMessage">DM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="~/Kullanici/Login">Çıkış Yap</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="row">
        <div class="a col-2">
            <center>
                <img height="50" width="50" src="~/img/1446864_620x410.jpg" />
                <bold>Yiğit KURTÇU</bold><br />
                <bold>Takipçi : 222</bold><br />
                <bold>Takip Edilen : 222</bold>
            </center>
                    </div>
        <div class="b col-10">

            <div class="c">
                <img height="50" width="50" src="~/img/1446864_620x410.jpg" />
                <p>Yiğit Kurtçu</p>
                <p>Bu bir deneme tweetidir 1</p>      
                <button id="btn">Beğen</button>
            </div>
            <div class="c">
                <img height="50" width="50" src="~/img/1446864_620x410.jpg" />
                <bold>Sergen Esendemir</bold><br />
                <p>Bu bir deneme tweetidir 2</p>
                <button id="btn">Beğen</button>

            </div>
        </div>

        </div>
</body>
</html>

